{% extends 'header.html' %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
	
</head>
<body onload="window.addEventListener('contextmenu', function (e) { 
  // do something here 
  e.preventDefault(); 
}, false);">


	<center>
		<h1>Enter OTP For Regitration</h1>
		{% if msg %}
			<span style="color: blue;">{{msg}}</span>
		{% endif %}
		<form name="enter_otp" method="post" action="{% url 'enter_otp' %}">
			{% csrf_token %}
			
			<table>
				<tr>
					
					<td><input type="hidden" name="otp1" value="{{otp}}"></td>
					<td><input type="hidden" name="email" value="{{email}}"></td>
				</tr>
				
				<tr>
					<td>Enter OTP</td>
					<td><input type="password" name="otp2"></td>
				</tr>
				
				
				<tr>
					<td colspan="2" align="center">
					<input type="submit" name="action" value="Validate OTP" class="btn btn-primary">
					</td>
				</tr>
				
			</table>
			 
		</form>

	</center>

</body>
</html>
{% endblock %}